doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/index.css")
    link(rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon")
    title(class="notranslate") About Me
  body
    include components/logos_frontend.pug
    include components/logos_backend.pug
    include components/menu.pug
    include components/modal.pug
    div(class="layout-container")
      include components/header.pug
      aside
        include components/navbar.pug
      main
        seccion(class="seccion" id="about-seccion-banner")
          include components/bannerAbout.pug
        hr(class="line_break")
        seccion(class="seccion" id="about-seccion-whoIam")
          div(class="about-seccion-title")
            h1 Who I am
          div(class="whoIam")
            div(class="whoIam_text")
              p I am an engineer and industrial robots programmer. And I have participated in automation projects and industrial robots maintenance and programming services for companies in the automotive sector such as:
            div(class="whoIam_image")
        hr(class="line_break")
        seccion(class="seccion" id="about-seccion-newJob")
          div(class="about-seccion-title")
            h1 However
          div(class="newJob")
            div(class="newJob_text")
              p My passion is creating web applications and software development. I love to practice and learn new web programming technologies and languages in my free time. I have developed personal projects using HTML, CSS, Javascript, NodeJs, React, Java, and Spring Boot that you can find here on this site or my Github's repository.
            div(class="newJob_group")
              div(class="newJob_group_skills")
                p(class="newJob_group_skills_role notranslate" id="role") Frontend
                p(class="newJob_group_skills_lenguages_technologies notranslate" id="tool") Javascript
              div(class="newJob_group_image")
                <svg id="path-robot-1" width="47" height="158" viewBox="0 0 47 158" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 0V90L46.5 110V157.5"/>
                </svg>
                <svg id="path-robot-2"width="240" height="108" viewBox="0 0 240 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.5 0.5C1.7 1.3 6.33333 44.5 8.5 66L186.5 72.5L239.5 107"/>
                </svg>
                <svg class="object-1" role="img" title="css_logo">
                  <use id="obj_1" href="#js"/>
                </svg>
                <svg class="object-2" role="img" title="css_logo">
                  <use id="obj_2"/>
                </svg>
        hr(class="line_break")
        seccion(class="seccion" id="about-seccion-generalInfo")
          div(class="about-seccion-title")
            h1 general information
          div(class="generalInfo")
            div(class="generalInfo_group")  
              p(class="generalInfo_group_title") Full name
              p(class="generalInfo_group_subtitle") Cristian Emmanuel Castillo Medina
            div(class="generalInfo_group")
              p(class="generalInfo_group_title") From
              p(class="generalInfo_group_subtitle") México
            div(class="generalInfo_group") 
              p(class="generalInfo_group_title") Native Language
              p(class="generalInfo_group_subtitle") Spanish
            div(class="generalInfo_group") 
              p(class="generalInfo_group_title") Hobbies
            div(class="generalInfo_likes")
              div(class="generalInfo_likes_item huhu_up")
                img(src="./assets/illustrations/grill.svg")
                p grill
              div(class="generalInfo_likes_item huhu_down")
                img(src="./assets/illustrations/cooking.svg")
                p cooking     
              div(class="generalInfo_likes_item huhu_up") 
                img(src="./assets/illustrations/basketball.svg")
                p basketball
              div(class="generalInfo_likes_item huhu_down") 
                img(src="./assets/illustrations/movies.svg")
                p action movies
        hr(class="line_break")
        seccion(class="seccion" id="about-seccion-score")
          div(class="about-seccion-title")
            h1 Personal score
          div(class="score")
            div(class="score_group")
              div(class="score_group_number")
                if  locals.user.projects_length > 0 && locals.user.projects_length <= 9
                  p= `0${locals.user.projects_length}`
                else if  locals.user.projects_length >= 10 
                  p= locals.user.projects_length
                else
                  p 00
              div(class="score_group_activity") 
                p Personal Projects
            div(class="score_group")
              div(class="score_group_number")
                if locals.user.repos_length > 0 && locals.user.repos_length <= 9
                  p= `0${locals.user.repos_length}`
                else if locals.user.repos_length >= 10 
                  p= locals.user.repos_length
                else
                  p 00
              div(class="score_group_activity") 
                p Github Repos
            div(class="score_group")
              div(class="score_group_number")  
                if locals.user.websites > 0 &&  locals.user.websites<=9
                  p= `0${locals.user.websites}`
                else if locals.user.websites >= 10 
                  p= locals.user.websites
                else 
                  p 00 
              div(class="score_group_activity") 
                p Websites
            div(class="score_group")
              div(class="score_group_number") 
                if locals.user.experence > 0 && locals.user.experence <=9
                  p= `0${locals.user.experence}`
                else if locals.user.experence >= 10 
                  p= locals.user.experence
                else 
                  p 00 
              div(class="score_group_activity") 
                p Years Practicing
        hr(class="line_break" id="lastest-training")
        seccion(class="seccion" id="about-seccion-training")
          div(class="about-seccion-title")
            h1 Training Courses
            a() Currently Learning
          ul(class="training_learning")
            p(class="not_found") At the moment I am probably working on some project.
            //- li(class="training_learning_course")
            //-   div(class="training_learning_course_icon")
            //-     include components/push-pin.pug            
            //-   div(class="training_learning_course_details") 
            //-     h2(class="training_learning_course_details_company") Udemy          
            //-     div(class="training_learning_course_details_info")
            //-       a(class="training_learning_course_details_info_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021)
            //-       a(class="training_learning_course_details_info_duration") Duration: 40 hrs
            //- li(class="training_learning_course")
            //-   div(class="training_learning_course_icon")
            //-     include components/push-pin.pug            
            //-   div(class="training_learning_course_details") 
            //-     h2(class="training_learning_course_details_company") Udemy Course          
            //-     div(class="training_learning_course_details_info")
            //-       a(class="training_learning_course_details_info_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021)adasdadsadsafada
            //-       a(class="training_learning_course_details_info_duration") Duration: 40 hrs
          div(class="about-seccion-title" )
            h1() Lastest Completed Courses
            a(class="link link-second-decorated" href="training.html") View All Course
          div(class="training_completed")
            //- ul(class="training_completed_courses carousel-desactived" id="courses-completed")
            //-   li(class="training_completed_courses_course")
            //-     img(class="training_completed_courses_course_img certificated" src="https://udemy-certificate.s3.amazonaws.com/image/UC-3e3317c5-3dca-4470-9937-cb24ff72436d.jpg" alt="Certificated")
            //-     div(class="training_completed_courses_course_details") 
            //-       a(class="training_completed_courses_course_details_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021) 1x
            //-   li(class="training_completed_courses_course")
            //-     img(class="training_completed_courses_course_img certificated" src="https://udemy-certificate.s3.amazonaws.com/image/UC-3e3317c5-3dca-4470-9937-cb24ff72436d.jpg" alt="Certificated")
            //-     div(class="training_completed_courses_course_details") 
            //-       a(class="training_completed_courses_course_details_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021)  2
            //-   li(class="training_completed_courses_course")
            //-     img(class="training_completed_courses_course_img certificated" src="https://udemy-certificate.s3.amazonaws.com/image/UC-3e3317c5-3dca-4470-9937-cb24ff72436d.jpg" alt="Certificated")
            //-     div(class="training_completed_courses_course_details") 
            //-       a(class="training_completed_courses_course_details_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021)  3
            //-   li(class="training_completed_courses_course")
            //-     img(class="training_completed_courses_course_img certificated" src="https://udemy-certificate.s3.amazonaws.com/image/UC-3e3317c5-3dca-4470-9937-cb24ff72436d.jpg" alt="Certificated")
            //-     div(class="training_completed_courses_course_details") 
            //-       a(class="training_completed_courses_course_details_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021) 1xx
            //-   li(class="training_completed_courses_course")
            //-     img(class="training_completed_courses_course_img certificated" src="https://udemy-certificate.s3.amazonaws.com/image/UC-3e3317c5-3dca-4470-9937-cb24ff72436d.jpg" alt="Certificated")
            //-     div(class="training_completed_courses_course_details") 
            //-       a(class="training_completed_courses_course_details_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021)  2
            //-   li(class="training_completed_courses_course")
            //-     img(class="training_completed_courses_course_img certificated" src="https://udemy-certificate.s3.amazonaws.com/image/UC-3e3317c5-3dca-4470-9937-cb24ff72436d.jpg" alt="Certificated")
            //-     div(class="training_completed_courses_course_details") 
            //-       a(class="training_completed_courses_course_details_name") Spring Boot 2 & Spring MVC-Desarrollo web profesional(2021)  3
            p(class="not_found") No course completed yet

        hr(class="line_break" id="lastest-project")
        seccion(class="seccion" id="about-seccion-project")
          div(class="about-seccion-title")
            h1 Latest Project
            a(class="link link-second-decorated" href="portfolio.html") View All Projects
          if Object.entries(locals.lastest_project).length > 0  
            div(class="project")
              div(class="project_info")
                -const url = `${locals.lastest_project.name}.html`
                -const name = locals.lastest_project.name.replace(/-/g," ")
                a(class="project_info_name link link-second" href=url )= name 
              img(class="project_image" src=locals.lastest_project.image_url)
              div(class="project_info")
                - const skills = [...locals.lastest_project.languages,...locals.lastest_project.technologies].toString()
                  p(class="project_info_skills")= skills.replace(/\,/g,", ")
                  p(class="project_info_description")= locals.lastest_project.description
                  a(class="project_info_source link link-second" target="_blank" href=locals.lastest_project.code_url) source
          else
            div(class="project")
              p(class="not_found") No project exists yet    
        hr(class="line_break")
        seccion(class="seccion" id="about-seccion-repos")
          div(class="about-seccion-title")
            h1 Github Repos
            a() Currently working with:
          ul(class="repos")
            if locals.lastest_repos.length > 0
              each lastest_repo in locals.lastest_repos
                - const url = `${lastest_repo.name}.html`
                - const name = lastest_repo.name.replace(/-/g," ")
                - const skills = [...lastest_repo.languages, ...lastest_repo.technologies].toString()
                li(class="repos_repo")
                  div(class="repos_repo_icon")
                    include components/push-pin.pug
                  div(class="repos_repo_info")
                    a(class="repos_repo_info_name link link-second" href=url) 
                      span(class="repos_repo_info_name_icon") 
                        include components/push-pin.pug
                      span= name  
                    p(class="repos_repo_info_skills")= skills.replace(/\,/g,", ")
                  div(class="repos_repo_source")
                    a(class="link link-second-decorated" target="_blank" href=lastest_repo.code_url) source
            else
              p(class="not_found") No repository exists yet.      
        hr(class="line_break")
        seccion(class="seccion" id="about-seccion-contact")
          div(class="about_contact")
            div(class="about_contact_title")
              p(class="about_contact_title-left notranslate") It is always good to learn new
              p(class="about_contact_title-right notranslate") things and improve every day
            div(class="about_contact_group")
              div(class="about_contact_group_image")
              div(class="about_contact_group_text")
                p If you like what I do and have any suggestions, comments, or feedback, feel free to contact me and share it.
                div(class="about_contact_group_text_button")
                  a(class="button" href="contact.html") Drop your message
      include components/footer.pug
  script
    include ../js/index.js
    include ../js/about.js
