doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/index.css")
    link(rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon")
    title Portfolio
  body 
    include components/menu.pug
    div(class="layout-container")
      include components/header.pug
      aside
        include components/navbar.pug
      main
        seccion(class="seccion" id="portfolio-seccion-projects")
          div(class="projects_title")
            h1 Portfolio
          if locals.repositories.length > 0   
            div(class="projects_filter")
              input(id="projects_filter_query" type="search" placeholder="Search..." name="projects_filter_query" autofocus)
          if locals.repositories.length > 0 
            div(class="projects_tabs")
              span(class="projects_tabs_tab projects_tabs_tab-selected" id="tab_all" data-filter-value="all") All
              span(class="projects_tabs_tab" id="tab_projects" data-filter-value="project") Projects
              span(class="projects_tabs_tab" id="tab_exercises" data-filter-value="exercise") Exercises
            div(class="projects_filter_result")
              p 
          ul(class="projects_list" id="portfolio")
            if locals.repositories.length > 0
              each repo in locals.repositories
                - const skills = [...repo.languages,...repo.technologies].toString()
                - const url = `${repo.name}.html`
                - const name= repo.name.replace(/-/g," ") 
                - const type_filter = `projects_list_project portfolio-${repo.type}`
                details(class=type_filter data-name=repo.name)
                  summary(class="projects_list_project_header")
                    div(class="projects_list_project_header_title")
                      span(class="projects_list_project_header_title_icon")
                        include components/focus.pug
                      a(class="projects_list_project_header_title_name link link-second" href=url)= name
                    p(class="projects_list_project_header_skills")= skills.replace(/\,/g,", ")
                    div(class="projects_list_project_header_toogle")
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                  div(class="projects_list_project_body")
                    p(class="projects_list_project_body_text")= repo.description
                  div(class="projects_list_project_footer")
                    a(class="projects_list_project_footer_link link link-second" target="_blank" href=repo.code_url) source
                    p(class="projects_list_project_footer_status") Status: #[span= repo.status]
            else
              p(class="not_found_repos") There is no project or exercise for the portfolio yet
      include components/footer.pug
      script
        include ../js/index.js
        include ../js/portfolio.js