doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/index.css")
    link(rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon")
    title Home
  body
    include components/menu.pug
    include components/modal.pug
    div(class="layout-container")
      include components/header.pug
      aside
        include components/navbar.pug
      main(id="training_autofill")
        seccion(class="seccion" id="training-seccion-titile")
          div(class="training_title")
            h1  Training Course
        seccion(class="seccion" id="training-seccion-learning")
          div(class="training_subtitle")
            h2 -> Currently Learning
          div(class="courses" id="learning_courses")
            ul(class="courses_list" id="course_learning")
              if locals.lastest_courses_learning.length > 0 
                each course_learning in locals.lastest_courses_learning           
                  li(class="courses_list_item")
                    img(class="courses_list_item_img" src=course_learning.image alt="")
                    div(class="courses_list_item_info")
                      a(class="courses_list_item_info_name" href=course_learning.url target="_blank")=course_learning.name  
                      a(class="courses_list_item_info_company" href=course_learning.url target="_blank")=course_learning.company
                      p(class="courses_list_item_info_duration")=course_learning.duration
              else
                p(class="not_found_courses") At the moment I am probably working on some project.

        seccion(class="seccion" id="training-seccion-completed")
          div(class="training_subtitle")
            h2 -> Courses completed
          div(class="courses" id="completed_courses")
            ul(class="courses_list" id="courses-completed")
              if locals.lastest_courses_completed.length > 0 
                each course_completed in locals.lastest_courses_completed
                  li(class="courses_list_item")
                    img(class="courses_list_item_img certificated" src=course_completed.certificate alt="Certificate")
                    div(class="courses_list_item_info")
                      a(class="courses_list_item_info_name" href=course_completed.url target="_blank")=course_completed.name 
                      a(class="courses_list_item_info_company" href=course_completed.url target="_blank")=course_completed.company
                      p(class="courses_list_item_info_duration")=course_completed.duration 
              else      
                p(class="not_found_courses") No course completed yet
      include components/footer.pug
      script
        include ../js/index.js
        include ../js/training.js
